<!DOCTYPE html>
{% load static %}
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Blur</title>
  <link rel="stylesheet" href="{% static 'opencvapp/css/main.css' %}">
 </head>
 <body>
 
  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}

      
      <button type="submit">Upload</button>
  </form>


  <div class="slidecontainer">
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
    <p>Value: <span id="demo"></span></p>
  </div>
 
  {% if post %}
  <img src="{{ post.document.url }}">
  <p>File uploaded at: <a href="{{ post.document.url }}">{{ post.document }}</a></p>
  {% endif %}
 
  <p><a href="{% url 'blurface' %}">Return to home</a></p>
  <script src="{% static 'opencvapp/js/main.js' %}"></script>
</body>
</html>